.navigation {
  grid-area: navigation;
  padding: 16px 0;
}

.navigation__crown {
  display: flex;
}

.navigation__tree {
  margin: 0;
  padding-inline-start: 0;
  list-style: none;
}

.navigation__branch {
  display: flex;
}

.navigation__symbol {
  font-family: var(--font-secondary);
}

.navigation__link {
  font-family: var(--font-secondary);
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

.navigation__link[href]:focus-visible,
.navigation__link[href]:hover {
  text-decoration: underline;
}

.navigation__link_active {
  color: var(--color-text-inverted);
  background-color: var(--color-background-inverted);
}
